<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <script defer src="../static/index.js"></script>
        <script defer src="https://kit.fontawesome.com/e27ccd9755.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <h1 id="header_logo">Mindwell Holistic Therapy</h1>
            <nav>
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="about.html">About Me</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div id="landing_view">
                <div id="home_content">
                    <h1 class="lrg_txt">Welcome,</h1>
    
                    <p id="intro_paragraph">At Mindwell Holistic Therapy, we are dedicated to providing a safe<br>
                    safe and nurturing space for individuals seeking a more comprehensive<br>
                    approach to their physical, mental, and emotional health. <br><br>Your path to holistic well-being begins here.</p>
    
                    <a href="contact.html" class="btn" id="home_cta">Get in Touch</a>
                </div>
    
                <img src="../images/home_pic.svg" id="home_pic" alt="home_pic">

            </div>

            <div id="quote_view">
                <h1 id="quote_header">Daily Inspiration!</h1>
                <div id="quote_content">
                    <p id="quote">"The greatest glory in living lies not in never falling, but in rising every time we fall."</p>
                    <p id="quote_author">- Nelson Mandela</p>
                </div>
                <button id="quote_btn">New Quote</button>
                <p class="error hidden"></p>
            </div>
        </main>

        <footer>
            <p id="footer">&copy; 2023 Mindwell Holistic Therapy, LLC</p>
        </footer>
    </body>
</html>
